@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

h1 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:end;
    text-align: center;
    margin: 0 auto;
}
.painel:hover {
    background-color: rgb(80, 80, 79);
}
.conteiner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.item {
    float: left;
    width: 100px; 
  }

.figure_img {
    width: 200px;
}

.img_filme {
    width: 355px;
}
.img_fil {
    width: 214px;
}
.img_bat {
    width: 190px;
}
.img_sonho {
    width: 225px;
}
.img_star {
    width: 194px;
}
.img_leao {
    width: 230px;
}
.img_titnic {
    width: 195px;
}
.img_avatar {
    width: 190px;
}
.img_vingadores {
    width: 190px;
}
.img_gladiador {
    width: 210px;
}

