@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

:root {
    --cor--sucesso: #4caf50;
    --cor--erro: #ff4d4d;
    --cor--branco: #fff;
    --cor--cinza: #cdd0d3b2;
    --cor--cinza--claro: #cdd0d3;
}

body {
    font-family: "Poppins";
    font-size: 14px;
}

.conteiner {
    width: 80%;
    margin: 0 auto;
    border-radius: 6px;
}

.notificacao {
    position: fixed;
    top: 20px;
    right: 20px;
    color: var(--cor--branco);
    padding: 16px;
    border: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;


    &.sucesso {
        background-color: var(--cor--sucesso);
    }
    &.erro {
        background-color: var(--cor--erro);
    }
}

.acao {
    display: flex;
    justify-content: end;
    width: 30px;


    a {
        text-decoration: unset;
    }
}

table {
    width: 100%;
    border-color: var(--cor--cinza);
    border-collapse: collapse;

    thead, th, tbody, td, tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }

    th, td {
        border-bottom-width: 2px;
        padding: 0.5rem;
        text-align: left;
    }

    /*seleciona todas as linhas pares do corpo da tabela > even=par odd=impar*/
    tbody tr:nth-child(even) {
        background-color: var(--cor--cinza--claro);
    }

    tbody tr:hover {
        background-color: var(--cor--cinza);
    }
}

.img-filme {
    width: 10%;
}
